<!DOCTYPE html>
  <html>
    <head>
      <div class="edit_header" align="center">
        <h1>Edit your Kitch-Tip</h1>
        <hr width="75%">
      </div>
    </head>

    <body>
      <div class="current_tip" align="center">
        <h3>Tip Name: <%= @tip.name %></h3>
        <h3>Main Ingredient: <%= @tip.main_ingredient %></h3>
        <h3>Kitch-Tip: <%= @tip.tip %></h3>
        <hr width="75%">
      </div>

      <div class="edit_tip" align="center">
        <form method="post" action="/tip/<%= @tip.id %>">
          <input type="hidden" name="_method" value="patch">
          <h3>Change Tip Name: <input type="text" name="name"></h3>
          <h3>Change Main Ingredient: <input type="text" name="main_ingredient"></h3>
          <h3>Change Tip Description: </h3><textarea rows=6 cols=50 type="text" name="tip"></textarea>
          <br></br>
          <input type="submit" value="Submit Changes">
        </form>
        <h4>or</h4>
        <form method="post" action="/tip/<%= @tip.id %>/delete">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Tip">
        </form>
        <h4>or</h4>
        <a href="/user">Go Back</a>

      </div>
    </body>
  </html>
